<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="/styles/stylesIndex.css">

</head>
<body>
    <h1>Add a Task</h1>
    <a href="/tasks">Go to Task List</a>
    <a href="/dummy">Go to Dummy List</a>
    <form action="/submit" method="POST">
      <input type="text" name="task" placeholder="Enter task here!">
      <input type="submit" value="OK">
    </form>
</body>
</html>
