<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="styles/stylesTasks.css">
</head>
<body>
    <h1>Task List</h1>
    <a href="/">Home</a>
    <ul>
        <% tasks.forEach(task => { %>
            <li><input type="checkbox" /> <%= task %></li>
        <% }); %>
    </ul>
    <!-- Add a button to clear the list -->
<form action="/clear-tasks" method="POST">
    <button type="submit">Clear List</button>
</form>

</body>
</html>
